<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>SWW TT</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> SuperWinWin TT</h1>

        <div class="alert alert-success">Well done! Validation email was successfully sent, please check you email.</div>

    </div>

</div>
</body>
</html>